
.icon-users:before { content: '\e800'; } /* '' */
.icon-list:before { content: '\e801'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */